@{
    ViewData["Title"] = "Home Page";
    var email = Context.Session.GetString("UserEmail");
    var jwt = Context.Session.GetString("JwtToken");

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-5"> @email</h3>
    <h5> @jwt</h5>
</div>
